body {
    background-color: #222; 
    color: white; 
    margin: 0;
    font-family: 'Arial', sans-serif; 
  }
  
  main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }