#editor-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  gap: 20px;
}

.controls-group {
  display: flex;
  align-items: center;
  gap: 2;
}


.editor-btn {
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.move-lines-btn {
  background-color: #00bcd4;
}

.move-lines-btn img {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
}

.add-line-button {
  background-color: #4caf50;
}

.add-line-button img {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
}

.delete-line-button {
  background-color: #f44336;
}

.delete-line-button img {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
}

.increase-font-button,
.decrease-font-button {
  background-color: white;
}

.increase-font-button img,
.decrease-font-button img {
  filter: none;
}

.align-left-button,
.align-center-button,
.align-right-button {
  background-color: white;
}

.align-left-button img,
.align-center-button img,
.align-right-button img {
  filter: none;
}

.color-change-control {
  display: flex;
  align-items: center;
  justify-content: space-between;


}

.color-change-control img {
  filter: none;
  filter: invert(100%) brightness(200%);
}

.font-family-control {
  background-color: white;
  padding: 5px;
  border-radius: 10px;
}

.editor-btn:hover {
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
  transform: translateY(-3px);
}

.save-button,
a[download] {
  color: white;
}

.save-button i {
  color: white;
  transition: color 0.3s;
}

.save-button:hover i {
  color: cyan;
}

.move-up-btn {
  width: 50px;
  height: 50px;
}

.move-down-btn {
  width: 50px;
  height: 50px;
}




.controls-group img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.stroke-color-control img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.controls-group img,
.color-change-control img,
.stroke-color-control img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.color-change-control input[type="color"],
.stroke-color-control input[type="color"] {
  display: none;
}


.color-change-control img,
.stroke-color-control img {
  width: 24px;
  height: 24px;
  cursor: pointer;

}

.controls-group,
.font-family-control,
.color-change-control {
  background-color: transparent;
  border: none;
}

.controls-group img,
.font-family-control img,
.color-change-control img {
  background-color: transparent;
  border: none;
  width: 24px;
  height: auto;
}

.control-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.emoji-picker-control img,
.font-family-control select,
.color-change-control img,
.stroke-color-control img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.font-family-control select {
  width: 100%;
  padding: 10px;
  font-size: 25px;  
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
}



.emoji-button {
  width: 100%; 
  text-align: center;
  font-size: 24px; 
}

#emoji-picker {
  display: flex;
  justify-content: space-between; 
  width: 100%; 
}

.facebook-icon {
  width: 24px;
  cursor: pointer;
  filter: invert(100%) brightness(100%) contrast(100%);
}
.color-label {
  font-size: 16px;
  color: white;
  margin: 0 10px;
  display: flex;
  align-items: center;
  font-weight: bold;
}

font-selector {
  width: 100%; 
  font-size: 16px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
  display: block;
}


.font-selector option {
  font-family: inherit;
}

.controls-group.font-family-control {
  width: 100%; 
  display: flex;
  align-items: center;
}
