.editor {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #333;
    margin: 20px;
    border-radius: 10px;
  }
  
  canvas {
    border: 2px solid #fff;
    background-color: #fff;
    width: 100%;
    max-width : 450px;
    height: auto;
    
  }
  #editor {
    display: none;
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    margin: 0 auto; 
  }
  