#meme-area {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}

#editor-controls {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  background-color: #444;
  border-radius: 10px;
  min-height: 430px;
  max-width: 300px;
  justify-content: space-between;
}

#text-input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
}

.controls-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.controls-group button {
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.controls-group button:hover {
  background-color: #009acd;
}

.controls-group img {
  width: 24px;
  height: auto;
}

select#font-family {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
}

#color-picker img {
  width: 30px;
  cursor: pointer;
  margin-right: 5px;
}

#color-picker input {
  display: none;
}

.color-change-control,
.stroke-color-control {
  display: flex;
  align-items: center;
  justify-content: flex-end;

}

@media screen and (max-width: 768px) {
  #editor-container {
    flex-direction: column;
    align-items: center;
    gap: 0;
  }

  #editor-controls {
    width: 100%;
    max-width: 400px;
    min-height: unset;
  }

  #meme-area {
    width: 100%;
    max-width: 100%;
  }
}